
body{
background-image: url("http://1.bp.blogspot.com/-hhTxbcsEnII/Tc_c_yWEgtI/AAAAAAAALwU/Zmwqne3iYMg/s1600/James+Bond+007+Blood+Stone+pc+game+2.jpg");
width: 100%;
background-repeat: no-repeat;
background-size: cover;


}

h1{
font-size: 60px;
text-align: center;
padding: 20px 50px;
color: #470008;
text-shadow: 2px 2px #807100;

}

button{
background-color: #470000;
color: #946800;
padding: 15px 30px;
font-style: italic;
font-weight: bold;
margin-right: 5px;
margin-left: 5px;
margin-bottom: 20px;
border-radius: 10px;
border-color: #946800;

}


p{
color: #616600;
font-style: italic;
font-weight: 900;
border-radius: 20px;
border-width: 2px;
border-color: #470000;
padding: 10px 20px;

}